.sectionStyle{
    background-color: white;
    padding: 3em 0em;
    border-radius: 3em 3em 0em 0em;
    min-height: 90vh;
    box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.408);

}

.addButton{
    display: flex;
    align-items: center;
    justify-content: left;
    margin:0.7em 1.3em;
    padding: 0em 1em;
    height: 5em;
    background-color: #272cab;
    border-radius: 1em;
    transition: 130ms ease-in-out;
    border: solid;
    border-color: none;
    color: white;
    width: calc(100vw - 3em);
    transition: transform 230ms ease-in-out;

}
.addButton:hover  , .addButton:focus {
    background-color: #3e43cd;
}

.addButton:active{
    transition: scale(1.1);
}

